body {
    top: 0px;
    position: relative;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
.employee-search {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}
.table {
    display: table;
    margin-left: 40px;
    margin-right: 40px
}
.table-row {
    display: table-row;
    height: 20px;
}
.table-column {
    display: table-cell;
    width: 40px;
}
.tab {
    padding: 40px 40px 40px 40px;
}
.employee-search-form {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
.ng-dirty.ng-invalid {
    border-color: #ff0000;
}